<header class="mb-3">
  <!-- Top Navigation Bar -->

  <!-- Code to retrieve the subdirectory of the baseURL -->
  {{ $baseURL := .Site.BaseURL }}
  {{ $subdirectory := split $baseURL "/" }}
  {{ $subdirectory := index $subdirectory 3 }} <!-- Index 3 to get the subdirectory after the domain -->
  {{ $isSubdirectory := ne $subdirectory "" }} <!-- Check if there is a subdirectory -->

  <nav class="navbar navbar-expand-lg ">
    <div class="container">
      <a class="navbar-brand main-color" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <!-- Dynamic Menu From config.yml file -->
          {{ range .Site.Menus.main }}
            {{ $currentPage := $.Page.RelPermalink }}
            {{ $menuLink := .URL  }}

            <!-- Remove the subdirectory from $currentPage if it contains it -->
            {{ if $isSubdirectory }}
              {{ $currentPage = replace $currentPage (printf "/%s" $subdirectory) "" }}
            {{ end }}

            <!-- Remove the subdirectory from $menuLink if it contains it -->
            {{ if $isSubdirectory }}
              {{ $menuLink = replace $menuLink (printf "/%s" $subdirectory) "" }}
            {{ end }}


            {{ $isActive := false }}

            <!-- Handle the homepage link specially, so that it's active only on the homepage -->
            {{ if eq $menuLink "/" }}
              {{ $isActive = eq $currentPage $menuLink }} <!-- Only mark homepage as active if current page is exactly "/" -->
            {{ else }}
              <!-- Active logic for non-home pages, check if current is in menuLink (prefix or exact match) -->
              {{ $isActive = or (eq $currentPage $menuLink) (hasPrefix $currentPage $menuLink) }}
            {{ end }}

            <!-- Apply the active class if the menu item is active -->
            {{ $active := cond $isActive "active" "" }}

            <li class="nav-item">
              <a href="{{ .URL }}" class="nav-link {{ $active }}" alt="{{ .URL }}">{{ .Name }}</a>

              <!-- If there are children, display them as a submenu -->
              {{ if .HasChildren }}
                <ul class="submenu">
                  {{ range .Children }}
                    <li class="submenu-item">
                      <a href="{{ .URL }}" class="nav-link {{ cond (eq $.Page.RelPermalink .URL) "active" "" }}">{{ .Name }}</a>
                    </li>
                  {{ end }}
                </ul>
              {{ end }}
            </li>

          {{ end }}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Dynamic Header Image -->
  {{ with .Resources.Get "featured-image.jpg" }}
    {{ $largeImage := .Resize "960x webp q75" }}
    {{ $smallImage := .Resize "480x webp q75" }}
    <div class="headerImage" small-Image="{{ $smallImage.RelPermalink | relURL }}"
      large-Image="{{ $largeImage.RelPermalink | relURL }}">
  {{ else }}
    <!-- If the featured-image.jpg doesn't exist, use the default static image -->
    <div class="headerImage" small-Image="{{ "img/header-480.jpg" | relURL }}" large-Image="{{ "img/header-960.jpg" | relURL }}">
  {{ end }}

  <img src="{{ "img/loader.gif" | relURL }}" alt="Loading..." class="loader" />

  <div class="color-overlay d-flex flex-column justify-content-center align-items-center align-content-center">
    <h1>{{ .Title }}</h1>
    {{ with .Params.catchline }}
      <h2>{{ . }}</h2>
    {{ end }}
  </div>

</div>
</header>
